html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: black;
}

.page-header {
    color: white;
}

h1 {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {color:white;}
    25%  {color:yellow;}
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:white;}

}

.navbar-default {
    margin-left: 30px;
    margin-right: 30px;
}

.gifCol {
    width: 205px;
    float: left;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.gif {
    position: relative;
    margin-bottom: 10px;
}

.dropdown {
    position: absolute;
    bottom: -10px;
    left: 10px;
    right: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: .5s ease;
}

.gif:hover .dropdown {
    height: 33px;
    opacity: 1;
}

.navbar-right {
    margin-right: 5px;
}

.counter {
    font-size: 25px;
}

h4 {
    color: white;
}

.gifPanel {
    background: black !important;
    border-color: black !important;
}

.dropdown {
    margin-bottom: 10px;
}

.dropdown-menu li {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar-form {
        text-align: center;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .navbar-default {
        border-radius: 3px;
    }
}

@media screen and (max-width: 491px) {
    .gifCol {
        float: none;
        display: inline;
    }
}