html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: black;
}

.gifCol {
    width: 200px;
    float: left;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.navbar-right {
    margin-right: 5px;
}

.counter {
    font-size: 25px;
}

h4 {
    color: white;
}

.gifPanel {
    background: black !important;
    border-color: black !important;
}

@media screen and (max-width: 768px) {
    .container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar-form {
        text-align: center;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}

@media screen and (max-width: 491px) {
    .gifCol {
        float: none;
        display: inline;
    }
}